<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  autoReload="true" 
	  internalLogLevel="Trace" 
	  internalLogFile=".\log\internallog.txt"> 
	<targets>
		<target name="logfile" 
				xsi:type="File" 
				fileName=".\log\${shortdate}_logfile.txt" 
				layout="${longdate} | ${level:uppercase=true} | ${message}" />
		
		<target name="db" xsi:type="Database" 
                dbProvider="sqlserver"
				connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=DogeFriendsdb;Trusted_Connection=True;MultipleActiveResultSets=true" 
				commandType="StoredProcedure" 
				commandText="[dbo].[NLog_AddEntry_p]">
			<parameter name="@machineName" layout="${machinename}" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@properties" layout="${all-event-properties:separator=|}" />
			<parameter name="@callsite" layout="${callsite}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>		
	</targets>    
	<rules>
		<logger name="*" minlevel="Debug" writeTo="db" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>      
</nlog>